@import '_base.scss';
$mobile: 992px;

@mixin text-clamp($lines: 2, $line-height: false) {
	display: -webkit-box;
	overflow: hidden;
	/* autoprefixer: ignore next */
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $lines;
	word-break: break-all;
	@if $line-height {
		max-height: $line-height * $lines * 1px;
	}
}

.pc {
	display: block;
}
.mo {
	display: none;
}
@media screen and (max-width: $mobile) {
	.pc {
		display: none;
	}
	.mo {
		display: block;
	}
}

// mode
.mode-search {
	.cm-header__logo {
		a {
			background: url(../images/logo-black.png) no-repeat 50% 50%;
			background-size: cover;
		}
	}
	.cm-header-search__layer {
		display: block;
	}
}

.cm {
	&-skip {
		display: none;
	}
	&-inner {
		position: relative;
		width: 1440px;
		margin: 0 auto;
	}
	&-header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1000;
		background: rgba($color: #000000, $alpha: 0.4);
		.cm-inner {
			padding: 31px 0 0 0;
			font-size: 0;
			line-height: 0;
		}
		&__logo {
			display: inline-block;
			position: relative;
			z-index: 50;
			a {
				display: block;
				width: 182px;
				height: 28px;
				background: url(../images/logo.png) no-repeat 50% 50%;
				font-size: 0;
			}
		}
		&-gnb {
			&__open {
				display: none;
			}
			&__close {
				display: none;
			}
			> ul {
				display: inline-flex;
				padding: 20px 0 20px 0;
				> li {
					min-width: 128px;
					margin-right: 51px;
					> a {
						display: inline-flex;
						padding: 9px 0;
						font-size: 18px;
						font-weight: 500;
						font-stretch: normal;
						font-style: normal;
						line-height: 1.5;
						letter-spacing: -0.27px;
						text-align: left;
						color: #fff;
					}
					&.active {
						> a {
							border-bottom: 2px solid #2762b0;
						}
					}
					> ul {
						max-height: 0;
						overflow: hidden;
						transition: all 0.4s ease-in-out;
						> li {
							margin-bottom: 8px;
							&:last-child {
								margin-bottom: 0;
							}
							> a {
								display: inline-flex;
								padding: 10px 0;
								font-size: 16px;
								font-weight: normal;
								font-stretch: normal;
								font-style: normal;
								line-height: 1.5;
								letter-spacing: -0.24px;
								text-align: left;
								color: #fff;
							}
						}
					}
				}
				&:hover {
					> li {
						> ul {
							max-height: 400px;
							margin-top: 28px;
						}
					}
				}
			}
		}
		&__lang {
			position: absolute;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			top: 82px;
			right: 53px;
			width: 89px;
			height: 35px;
			border-radius: 17px;
			border: solid 2px #fff;
			strong {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				padding: 0 16px 0 20px;
				font-size: 14px;
				font-weight: 500;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.5;
				letter-spacing: -0.21px;
				text-align: left;
				color: #fff;
				&:after {
					content: '';
					display: block;
					width: 13px;
					height: 7px;
					background: url(../images/header-lang-open.png) no-repeat 50% 50%;
				}
			}
		}
		&-search {
			&__open {
				display: block;
				position: absolute;
				top: 82px;
				right: 0;
				width: 36px;
				height: 36px;
				background: #fff url(../images/header-search-open.png) no-repeat 50% 50%;
				border-radius: 36px;
				font-size: 0;
			}
			&__close {
				display: block;
				position: absolute;
				top: 24px;
				right: 0;
				width: 40px;
				height: 40px;
				background: url(../images/header-search-close.png) no-repeat 50% 50%;
				border-radius: 36px;
				font-size: 0;
				z-index: 40;
			}
			&__layer {
				display: none;
				position: fixed;
				top: 0;
				right: 0;
				left: 0;
				height: 300px;
				background-color: #fff;
				z-index: 30;
				.cm-inner {
					display: flex;
					align-items: flex-end;
					justify-content: center;
					height: 100%;
					padding: 0 0 80px 0;
				}
			}
			&__form {
				display: flex;
				align-items: center;
				width: 708px;
				height: 63px;
				margin: 0 auto;
				border-bottom: 2px solid #000;
				form {
					display: flex;
					align-items: center;
					width: 100%;
					height: 100%;
				}
				input {
					width: calc(100% - 63px);
					height: 100%;
					padding: 0 9px;
					border: none;
					font-size: 18px;
					font-weight: normal;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.5;
					letter-spacing: -0.54px;
				}
				button {
					width: 63px;
					height: 63px;
					background: url(../images/header-search-search.png) no-repeat 50% 50%;
					font-size: 0;
				}
			}
		}
	}
	&-body {
		min-height: 100vh;
	}
	&-footer {
		padding: 35px 0 40px 0;
		background-color: #404549;
		.cm-inner {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&__info {
			display: flex;
			align-items: center;
			a {
				display: block;
				width: 151px;
				height: 22px;
				background: url(../images/logo-footer.png) no-repeat 50% 50%;
				font-size: 0;
			}
			address {
				position: relative;
				top: -2px;
				margin-left: 45px;
				font-size: 14px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.5;
				letter-spacing: -0.42px;
				text-align: left;
				color: #939393;
			}
		}
		&__social {
			display: flex;
			margin-right: -5px;
			a {
				display: block;
				width: 30px;
				height: 30px;
				margin-left: 26px;
				font-size: 0;
				&.facebook {
					background: url(../images/footer-facebook.png) no-repeat 50% 50%;
				}
				&.twitter {
					background: url(../images/footer-twitter.png) no-repeat 50% 50%;
				}
				&.linkedin {
					background: url(../images/footer-linkedin.png) no-repeat 50% 50%;
				}
				&.youtube {
					background: url(../images/footer-youtube.png) no-repeat 50% 50%;
				}
			}
		}
	}
	&-quick {
		position: fixed;
		bottom: 60px;
		right: 120px;
		z-index: 1010;
		&__inquiry {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 90px;
			height: 90px;
			background-color: #123461;
			border-radius: 90px;
			font-size: 11px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.5;
			letter-spacing: normal;
			text-align: center;
			color: rgba(255, 255, 255, 0.8);
			&::before {
				content: '';
				display: block;
				width: 40px;
				height: 18px;
				margin: 8px 0 13px 0;
				background: url(../images/quick-inquiry.png) no-repeat 50% 50%;
			}
		}
		&__product {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 90px;
			height: 90px;
			margin-top: 10px;
			background-color: #2b64ab;
			border-radius: 90px;
			font-size: 11px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.5;
			letter-spacing: normal;
			text-align: center;
			color: rgba(255, 255, 255, 0.8);
			&::before {
				content: '';
				display: block;
				width: 30px;
				height: 30px;
				margin: 5px 0 3px 0;
				background: url(../images/quick-products.png) no-repeat 50% 50%;
			}
		}
		&__top {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 90px;
			height: 90px;
			margin-top: 10px;
			background-color: #1f1f1f;
			border-radius: 90px;
			font-size: 0;
			line-height: 0;
			&::before {
				content: '';
				display: block;
				width: 32px;
				height: 32px;
				background: url(../images/quick-top.png) no-repeat 50% 50%;
			}
		}
	}

	//page
	&-main {
		&::before {
			content: ' ';
			display: block;
			position: fixed;
			left: 0;
			bottom: 0;
			right: 0;
			top: 0;
			width: 100vw;
			height: 100vh;
			background-image: url(../images/main/product-bg.jpg);
			background-position: 50%;
			background-size: cover;
			z-index: -10;
		}
		&-keyvisual {
			min-height: 100vh;
			background-color: #000;
			.swiper {
				height: 100vh;
				&-slide {
					background: url(../images/main/kv.png) no-repeat 50% 50%;
					transition: all 1s ease;
					.cm-inner {
						display: flex;
						align-items: center;
						height: 100%;
					}
				}
			}
			&__title {
				margin-bottom: 19px;
				font-size: 52px;
				font-weight: 600;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.5;
				letter-spacing: -0.3px;
				text-align: left;
				color: #fff;
				@keyframes cm-main-keyvisual__title {
					0% {
						transform: translateY(100%);
					}
					100% {
						transform: translateY(0);
					}
				}
				p {
					overflow: hidden;
					span {
						display: block;
						&.animate {
							animation: cm-main-keyvisual__title 0.8s ease-in-out both;
						}
					}
					&:nth-child(2) {
						span {
							animation-delay: 0.1s;
						}
					}
					&:nth-child(3) {
						span {
							animation-delay: 0.2s;
						}
					}
				}
			}
			&__info {
				display: flex;
				align-items: center;
				&-bar {
					position: relative;
					width: 240px;
					height: 2px;
					margin-right: 30px;
					background-color: rgba($color: #fff, $alpha: 0.3);
					overflow: hidden;
					&:before {
						display: block;
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						width: 0px;
						height: 2px;
						background: #fff;
					}
					&.animate {
						&:before {
							transition: width linear;
							transition-delay: unset;
							width: 125%;
							transition-duration: 5s;
						}
					}
				}
				&-pagination {
					margin-right: 14px;
					font-size: 14px;
					font-weight: normal;
					font-stretch: normal;
					font-style: normal;
					line-height: 4.86;
					letter-spacing: -0.21px;
					text-align: left;
					color: rgba(255, 255, 255, 0.5);
					strong {
						color: #fff;
					}
					span {
						margin: 0 5px 0 8px;
					}
				}
				button {
					width: 30px;
					height: 30px;
					border: solid 2px #fff;
					border-radius: 30px;
					background: url(../images/main/kv-stop.png) no-repeat 50% 50%;
					font-size: 0;
					transition: all 0.1s ease;
					&.stop {
						background: url(../images/main/kv-play.png) no-repeat 50% 50%;
					}
				}
			}
		}
		&-products {
			.cm-inner {
				display: flex;
				justify-content: space-between;
			}
			&__title {
				position: sticky;
				top: 146px;
				align-self: flex-start;
				padding: 104px 0 150px 0;
				font-size: 52px;
				font-weight: bold;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.5;
				letter-spacing: -0.78px;
				text-align: left;
				color: #fff;
			}
			&__list {
				display: grid;
				grid-template-columns: 1fr 1fr;
				column-gap: 146px;
				row-gap: 144px;
				margin-top: 198px;
				padding-bottom: 326px;
			}
			&-item {
				position: relative;
				&:nth-child(2n) {
					top: 180px;
				}
				&__thumb {
					position: relative;
					margin-bottom: 23px;
					border-radius: 20px;
					overflow: hidden;
					&:before {
						content: '';
						display: block;
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						height: 0;
						background-image: linear-gradient(to top, #2762b0, transparent);
						z-index: 10;
						opacity: 0;
						transition: all 0.4s ease-in-out;
					}
				}
				&__title {
					margin-bottom: 18px;
					font-size: 38px;
					font-weight: bold;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.5;
					letter-spacing: -0.57px;
					text-align: left;
					color: #fff;
				}
				&__text {
					margin-bottom: 30px;
					font-size: 18px;
					font-weight: normal;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.5;
					letter-spacing: -0.54px;
					text-align: left;
					color: #fff;
					font-family: 'Pretendard', sans-serif;
				}
				&__link {
					display: flex;
					align-items: center;
					font-size: 14px;
					font-weight: normal;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.3;
					letter-spacing: -0.21px;
					text-align: left;
					color: #fff;
					span {
						border-bottom: 1px solid transparent;
					}
					&:after {
						content: '';
						display: block;
						position: relative;
						left: -16px;
						width: 16px;
						height: 16px;
						margin-left: 16px;
						background: url(../images/main/product-arrow.png) no-repeat 50% 50%;
						overflow: hidden;
						transition: all 0.2s ease-in-out;
						opacity: 0;
					}
				}
				&:hover & {
					&__thumb {
						&::before {
							opacity: 1;
							height: 100%;
						}
					}
					&__link {
						span {
							border-bottom: 1px solid #fff;
						}
						&:after {
							left: 0;
							opacity: 1;
						}
					}
				}
			}
		}
		&-service {
			padding: 107px 0 120px;
			background: #f5f5f5;
			&__head {
				position: relative;
				margin-bottom: 58px;
			}
			&__title {
				margin-bottom: 3px;
				font-size: 52px;
				font-weight: bold;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.5;
				letter-spacing: -0.78px;
				text-align: left;
				color: #191919;
			}
			&__text {
				font-size: 18px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.5;
				letter-spacing: normal;
				text-align: left;
				color: #767676;
			}
			&__more {
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				top: 36px;
				right: 0;
				width: 174px;
				height: 50px;
				border: solid 1px #000;
				font-size: 14px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.5;
				letter-spacing: -0.42px;
				text-align: left;
				color: #000;
				//transition: all 0.2s ease-in-out;
				span {
					position: relative;
					z-index: 20;
					transition: all 0.2s ease-in-out;
				}
				&::before {
					content: '';
					display: block;
					width: 0;
					height: 100%;
					background: #2762b0;
					position: absolute;
					left: auto;
					right: 0;
					top: 0;
					transition: all 0.3s linear;
					z-index: 1;
				}
				&::after {
					content: '';
					display: block;
					position: relative;
					left: -16px;
					width: 16px;
					height: 16px;
					background: url(../images//main/product-arrow.png) no-repeat 50% 50%;
					opacity: 0;
					transition: all 0.2s ease-in-out;
					z-index: 20;
				}
				&:hover {
					border-color: #2762b0;
					color: #fff;
					&:before {
						width: 100%;
						right: auto;
						left: 0;
					}
					span {
						margin-left: -56px;
					}
					&:after {
						left: 56px;
						opacity: 1;
					}
				}
			}
			&__list {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr;
				column-gap: 24px;
			}
			&-item {
				position: relative;
				background: #fff;
				border-radius: 20px;
				overflow: hidden;
				box-shadow: 0px 6px 30px 0 rgba(0, 0, 0, 0.1);
				&--play & {
					&__thumb {
						&:before {
							content: '';
							display: block;
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							background: url(../images/main/ico-play.png) no-repeat 50% 50%;
							z-index: 20;
						}
					}
				}
				&__thumb {
					position: relative;
					border-radius: 20px;
					overflow: hidden;
				}
				&__text {
					margin: 13px 32px;
					font-size: 18px;
					font-weight: 500;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.5;
					letter-spacing: -0.27px;
					text-align: left;
					color: #343434;
					@include text-clamp(2, 27);
				}
			}
		}
		&-applications {
		}
		&-globalnetwork {
			height: 980px;
			padding-top: 110px;
			background: url(../images/main/globalnetwork-bg.jpg) no-repeat 50% 50%;
			background-size: cover;
			&__title {
				margin-bottom: 4px;
				font-size: 52px;
				font-weight: bold;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.5;
				letter-spacing: -0.52px;
				text-align: left;
				color: #fff;
			}
			&__text {
				margin-bottom: 8px;
				font-size: 18px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.5;
				letter-spacing: normal;
				text-align: left;
				color: #c0c0c0;
			}
			&-map {
				position: relative;
				width: 1286px;
				height: 707px;
				margin: 0 auto;
				background: url(../images/main/globalnetwork-map.png) no-repeat 50% 50%;
				&__item {
					position: absolute;
					top: 0;
					left: 0;
					.line {
						position: absolute;
						span {
							display: block;
							position: absolute;
							top: 0;
							right: 0;
							width: 49px;
							height: 49px;
							background: rgba($color: #00baff, $alpha: 0.25);
							border-radius: 49px;
							animation: circle-spread 1.5s cubic-bezier(0, 0.1, 0.8, 1) infinite;
							@keyframes circle-spread {
								0% {
									transform: scale(1);
									opacity: 1;
								}
								100% {
									transform: scale(1.4);
									opacity: 0;
								}
							}
							&::before {
								content: '';
								display: block;
								transform: translate(25%, 25%);
								width: 33px;
								height: 33px;
								border-radius: 33px;
								background: rgba($color: #00baff, $alpha: 0.3);
							}
						}
					}
					strong {
						font-size: 18px;
						font-weight: bold;
						font-stretch: normal;
						font-style: normal;
						line-height: 1;
						letter-spacing: normal;
						text-align: left;
						color: #fff;

						transition: all 0.2s ease;
					}
					p {
						font-size: 14px;
						font-weight: normal;
						font-stretch: normal;
						font-style: normal;
						line-height: 1.5;
						letter-spacing: normal;
						text-align: left;
						color: #fff;
						transition: all 0.2s ease;
					}
					&.europe {
						top: 270px;
						left: 238px;
						.line {
							top: -11px;
							left: -29px;
							transform: translateX(-100%);
							width: 69px;
							height: 26px;
							background: url(../images/main/globalnetwork-line01.png) no-repeat 50% 50%;
							background-size: cover;
							span {
								top: -3px;
								right: -20px;
							}
						}
					}
					&.china {
						top: 164px;
						left: 414px;
						.line {
							top: 4px;
							left: -39px;
							width: 155px;
							height: 182px;
							background: url(../images/main/globalnetwork-line02.png) no-repeat 50% 50%;
							background-size: cover;
							span {
								top: -19px;
								left: -20px;
							}
						}
					}
					&.thailand {
						top: 443px;
						left: 606px;
						.line {
							top: -54px;
							left: -31px;
							transform: translateX(-100%);
							width: 113px;
							height: 67px;
							background: url(../images/main/globalnetwork-line03.png) no-repeat 50% 50%;
							background-size: cover;
							span {
								top: 38px;
								right: -20px;
							}
						}
					}
					&.korea {
						top: 255px;
						left: 691px;
						.line {
							top: 5px;
							left: -30px;
							transform: translateX(-100%);
							width: 112px;
							height: 42px;
							background: url(../images/main/globalnetwork-line04.png) no-repeat 50% 50%;
							background-size: cover;
							span {
								top: -20px;
								right: -20px;
							}
						}
					}
					&.hongkong {
						top: 382px;
						left: 704px;
						.line {
							top: -28px;
							left: -30px;
							transform: translateX(-100%);
							width: 135px;
							height: 42px;
							background: url(../images/main/globalnetwork-line05.png) no-repeat 50% 50%;
							background-size: cover;
							span {
								top: 13px;
								right: -20px;
							}
						}
					}
					&.usa {
						top: 283px;
						left: 968px;
						.line {
							top: 5px;
							left: -30px;
							transform: translateX(-100%);
							width: 69px;
							height: 26px;
							background: url(../images/main/globalnetwork-line06.png) no-repeat 50% 50%;
							background-size: cover;
							span {
								top: -20px;
								right: -20px;
							}
						}
					}
					&.none {
						strong {
							color: #999 !important;
						}
						p {
							color: #999 !important;
						}
					}
					&.active {
						strong {
							color: #fff !important;
						}
						p {
							color: #fff !important;
						}
					}
				}
			}
		}
		&-history {
			position: relative;
			height: 100vh;
			background: #fff url(../images/main/history.jpg) no-repeat 0 100%;
			overflow: hidden;
			&__cover {
				position: absolute;
				top: 0;
				left: 50%;
				bottom: 0;
				width: 2000px;
				margin-left: -300px;
				background-color: #f60;
				background-color: #fff;
				opacity: 1;
			}
			&__title {
				position: sticky;
				top: 220px;
				font-size: 38px;
				font-weight: bold;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.5;
				letter-spacing: -0.57px;
				text-align: left;
				color: #000;
			}
			&__text {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 160px;
			}
			&-item {
				z-index: 30;
				&__year {
					margin-bottom: 16px;
					font-size: 100px;
					font-weight: bold;
					font-stretch: normal;
					font-style: normal;
					line-height: 1;
					letter-spacing: -1.5px;
					text-align: left;
					color: #2762b0;
				}
				&__title {
					margin-bottom: 12px;
					font-size: 28px;
					font-weight: 500;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.5;
					letter-spacing: -0.42px;
					text-align: left;
					color: #000;
				}
				&__text {
					margin-bottom: 47px;
					font-size: 16px;
					font-weight: normal;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.5;
					letter-spacing: -0.24px;
					text-align: left;
					color: #333;
				}
				&__more {
					font-size: 14px;
					font-weight: normal;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.5;
					letter-spacing: -0.21px;
					text-align: left;
					color: #000;
				}
				&__bar {
					display: flex;
					align-items: center;
					p {
						position: relative;
						display: block;
						width: 55px;
						height: 1px;
						margin: 0 15px;
						background-color: #ebeced;
					}
					font-size: 14px;
					font-weight: normal;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.5;
					letter-spacing: -0.42px;
					text-align: left;
					color: #000;
				}
			}
			.swiper {
				&-slide {
					img {
						margin-left: -240px;
					}
				}
			}
		}
		.pin-spacer {
			background: #f60;
		}
	}
}
